<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
</head>
<body>
    <div class="navbar">
        <a href="home.html" class="image"><img src="/logo.png" width="50px" height="50px"></a>
        <div class="navlinks">
        <a href="/home" class="navhome">Home</a>
        <a href="/report" class="naverep">Report</a>
        <a href="/track" class="navtra">Track</a>
        <a href="/sign_in">Login</a>
        <a href="/sign_up">Register</a>
        <a href="/graph">Graph</a>
        </div>
        <a href="/profile" class="navprofile"><img src="/profile-pic.jpg" "></a>
        <a href="/profile" class="navprofile" >Sadaf Nawaby</a>
    </div>
<div class="graph-container">
    <div class="graph">
        <img src="/graph.png">
    </div>
</div>  
<div class="piechart-container">
    <div class="piechart">
        <img src="/piechart.png">
    </div>
</div>
<div class="map-container">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d313275.8136508344!2d13.0951001857
    5723!3d52.506386175110244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x4
    2120465b5e3b70!2sBerlin!5e1!3m2!1sen!2sde!4v1740049865470!5m2!1sen!2sde" width="50%" height="350px" 
    style="border:0; margin: -5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

<footer>
    <div class="contact">
        <h2>CONTACT US</h2>
        <p>Siemensstr 6. 12459, Berlin <br>0043 1234 56 78 90 <br>contact@community.voice</p>
    </div>

    <div class="report">
      <a href="./report.html">REPORT</a>
    </div>
</footer>








    
</body>
</html>