<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form-style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report 5</title>
</head>
<body>
    <div class="navbar">
        <a href="home.html" class="image"><img src="/logo.png" width="50px" height="50px"></a>
        <div class="navlinks">
        <a href="/home" class="navhome">Home</a>
        <a href="/report" class="naverep">Report</a>
        <a href="/track" class="navtra">Track</a>
        <a href="/sign_in">Login</a>
        <a href="/sign_up">Register</a>
        <a href="/graph">Graph</a>
        </div>
        <a href="/profile" class="navprofile"><img src="/profile-pic.jpg" "></a>
        <a href="/profile" class="navprofile" >Sadaf Nawaby</a>
    </div>
    <h1 class="report5">
        Your report was just updated
    </h1>
    
</body>
</html>