<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>


<body>
    <%- include('includes/navbar') %>


    <div class="image-container">
        <img src="/reportimg.jpg" width="100%" height="500px">

    </div>
    <div class="report-form">
        <h1>Record a Report</h1>
        <form method="post" action="/submit-report">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="slug" placeholder="slug" required>

            <input type="text" placeholder="Select Report Category" disabled>
            <input type="text" placeholder="Report Address" disabled>
            <select disabled>
                <option>Select Report Sub-category</option>
            </select>
            <textarea placeholder="Write details in here..." name="detail" required></textarea>
            <div class="file-upload">

                <input type="file" id="fileInput" disabled>
            </div>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
    <div class="map-container">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d313275.8136508344!2d13.0951001857
    5723!3d52.506386175110244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x4
    2120465b5e3b70!2sBerlin!5e1!3m2!1sen!2sde!4v1740049865470!5m2!1sen!2sde" width="50%" height="350px"
            style="border:0; margin: -5px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <%- include('includes/footer') %>


</body>

</html>