<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>



<body>
    <%- include('includes/navbar') %>

    <main class="main">
    <div id="content">
        <h1>WELCOME</h1>
        <img src="/profile-pic.jpg" alt="profile-pic">
        
        <form action="/register" method="post" target="_self">
           
            <input type="email" placeholder="Email" required> <br>
            <input type="password" placeholder="Password" required> <br>
            <input type="submit" id="sign-in" value="SIGN IN">
        </form>
        <p>New in here? <a href="/sign_up">SIGN UP</a></p>
    </div>
</main>
<script src="/script.js"></script>

</body>
</html>