<!DOCTYPE html>
<html lang="en">
<head>
    <!-- these are the meta tags of them page and stylesheets that i use to apply the same style
         for both sign in and sign up page -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form-style.css">
    <title>Community Voice/Sign UP</title>
</head>



<body>
    <div class="navbar">
        <a href="home.html" class="image"><img src="/logo.png" width="50px" height="50px"></a>
        <div class="navlinks">
        <a href="/home" class="navhome">Home</a>
        <a href="/report" class="naverep">Report</a>
        <a href="/track" class="navtra">Track</a>
        <a href="/sign_in">Login</a>
        <a href="/sign_up">Register</a>
        <a href="/graph">Graph</a>
        </div>
        <a href="/profile" class="navprofile"><img src="/profile-pic.jpg" "></a>
        <a href="/profile" class="navprofile" >Sadaf Nawaby</a>
    </div>
    <div id="background-photo">
        <img src="/brunderburg.jpg" alt="" width="100%" height="300px">
    </div>

    <div id="content">
        <h1>REGISTER</h1>
        
        <form action="index.html" target="_self">
            <input type="text" placeholder="Name" required> <br>
            <input type="text" placeholder="Surname" required> <br>
            <input type="number" placeholder="Phone Number" required> <br>
            <input type="email" placeholder="Email" required> <br>
            <input type="password" placeholder="Password" required> <br>
            <input type="password" placeholder="Confirm Password" required> <br>
            <select name="language" id="language" style="color: #A0D0DF;" required>
                <option value="English" selected>English</option>
                <option value="German">German</option>
                <option value="Persian">Persian</option>
                <option value="French">French</option>
            </select> <br>
            <label for="aggrement"><input type="checkbox" id="aggrement" required>I agree to the term and policy</label> <br>
            <input type="submit" id="sign-in" value="SIGN UP">
        </form>
        <!-- when user is new then it will open the sign up page for the user -->
        <p>Already have an account? <a href="sign_in.html">SIGN IN</a></p>
    </div>
</body>
</html>