<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>



<body>
    <%- include('includes/navbar') %>

<main class="main">
    <div id="content">
        <h1>WELCOME</h1>
        <img src="/pp.jpg" alt="profile-pic">
        
        <form method="POST" action="/api/login">
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" value="Sign in" />
        </form>

        <p>New in here? <a href="/sign_up">SIGN UP</a></p>
    </div>
</main>
<script src="/script.js"></script>

</body>
</html>