<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
    <div class="navbar">
        <a href="/" class="image"><img src="/logo.png" width="50px" height="50px"></a>
        <div class="navlinks">
        <a href="/" class="navhome">Home</a>
        <a href="/report" class="naverep">Report</a>
        <a href="/track" class="navtra">Track</a>
        <a href="/sign_in">Login</a>
        <a href="/sign_up">Register</a>
        <a href="/graph">Graph</a>
        </div>
        <a href="/profile" class="navprofile"><img src="/profile-pic.jpg" "></a>
        <a href="/profile" class="navprofile" >Sadaf Nawaby</a>
    </div>

<div class="trackbody">
    <h1>
        <img class="bonus" src="/bonus.png" width="80px" height="80px">
    </h1>
    <h2 class="tracktext"> 
        Your report was successfully submitted.
        <br>
        You recieved 50 bonus points.
    </h2>
</div>
<div class="progress-container">
    <div class="step">
        <div class="circle">
            <img src="/icon1.png" alt="Received">
        </div>
        <div class="label">Received</div>
    </div>
    <div class="line"></div>
    <div class="step">
        <div class="circle">
            <img src="/icon2.png" alt="In Process">
        </div>
        <div class="label">In Process</div>
    </div>
    <div class="line"></div>
    <div class="step">
        <div class="circle">
            <img src="/icon3.png" alt="Processed">
        </div>
        <div class="label">Processed</div>
    </div>
</div>
<br>
<!-- <form>
<input type="button" value="Track your latest report">
</form> -->
<div>
<a href="track/report5">You have and update on your latest report</a>
</div>
<div class="simloc">
    <img src="/map.png" alt="Map" width="40%">
</div>
<h3 class="simloctext">
    234 more similar reports in your area.
</h3>
<%- include('includes/footer') %>
    
</body>
</html>